# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\MONI\FINKI\.osmi_semestar\Elektronska_i_mobilna_trgovija\lab2\e-library\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
